*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #252525;
}

main {
    display: flex;
    flex-wrap: wrap;

}

.chart {
    width: 100%;
    max-width: 500px;
}



.logo {
    width: 300px;
    padding: 10px;
}

body {
    background-color: #ebebeb;
}

@media only screen and (min-width: 701px) {

    main {
        justify-content: center;
    }

    .chart {
        max-width: 100%;
    }

    .actueel{
        width: 50%;

    }

    .topvijf {
        width: 50%;
        max-width: 400px;
    }

    .aantaldeelnemers {
        width: 65%;
        max-width: 570px;
    }
  }

  @media only screen and (min-width: 1200px) {

    main {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .actueel{
        grid-row-start: 1;
        grid-row-end: 3;
        height: auto;
        width: 85%;
    }
    
    .topvijf {
        height: auto;
        width: 70%;
        max-width: 100%;
        min-width: 400px;

    }

    .aantaldeelnemers {
        height: auto;
        width: 70%;
        max-width: 100%;
        min-width: 400px;

    } 
}

@media only screen and (min-width: 1700px) {

    .topvijf {
        max-width: 450px;        
    }

    .aantaldeelnemers {
        max-width: 450px;        
    } 
}